node_modules/
.env
vite.config.js.timestamp-*.mjs
vite.config.mjs.timestamp-*.mjs
vite.config.cjs.timestamp-*.mjs
vite.config.ts.timestamp-*.mjs
vite.config.mts.timestamp-*.mjs
vite.config.cts.timestamp-*.mjs
vitest.config.js.timestamp-*.mjs
vitest.config.mjs.timestamp-*.mjs
vitest.config.cjs.timestamp-*.mjs
vitest.config.ts.timestamp-*.mjs
vitest.config.mts.timestamp-*.mjs
vitest.config.cts.timestamp-*.mjs
